* {
    font-family: quicksandbold;
}

.navbar-fixed-top {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999;
  }



  #subirTopo {
    text-decoration: none;
    background: #fbcc3b;
    bottom: 30px;
    right: 30px;
    border-radius: 15px;;
    color: black;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: sans-serif;
    opacity: 1;
    z-index: 998;
    }
    
    #subirTopo:hover {
    opacity:1;
    }












a {
    color: black;
    font-size: 18px;
}

a:hover {
    text-decoration: none;
    color: black;
}

.meio {
    background-color: #fbcc3b;
}

.textoPrato {
    font-size: 1.3rem;
    margin: auto;
}

.redeSocial {
    background-color: black;
    color: white;
}

.redeSocial ul{
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
}

.redeSocial ul li{
    float: left;
    margin-right: 0.5rem;
}

footer {
    background-color: #131a3e;
}

footer ul{
    list-style-type: none;
    text-align: left;
    padding: 0px;
}

footer ul li{
    border-bottom: 1px solid white;;
}

.card {
    margin: auto !important;
}

.cartaoReceita {
    margin: auto;
    padding: 0.1rem;
}

.redeSocial ul li{
    font-family: Lato,sans-serif;
    font-size: 1.6em;
    font-weight: 700;
}

@font-face {
    font-family: quicksandregular;
    src: url(../fonts/quicksandregular.otf);
}

@font-face{
    font-family: quicksandbold;
    src: url(../fonts/quicksandbold.otf);
}

@font-face{
    font-family: sofiapro;
    src: url(../fonts/sofiapro.ttf);
}

.quicksandbold{
    font-family: quicksandbold;
}

.textoPrato{
    font-family: quicksandregular;
    font-weight: 700;
}


.widget_receita{
    display: flex;
    border: 1px solid #e8e8e8;
    border-radius: 0.3rem;
}

.img_rec{
    flex: 1;
}

.text_rec{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    text-align: justify;
    padding-left: 0.5rem;
}