body{
    background-color:  #131f1f !important;
    padding: 0px;
    
}

.item{
    cursor: pointer;
}

.item a i{
    color: white;
}

.rodape {
    background-color: #444440;
    color: white;
    font-family: arial;
}

footer{
    width: 100%;
    text-align: center;
}

.row p{
    color: white;
    font-weight: bold;
}
